
.Div {
    margin: 20px;
   
}

.post-it {
    background-color: #ffeb3b; 
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.Ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.button-excluir {
    cursor: pointer;
    font-size: 15px;
    background: #ff3b3b;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #ff3b3b;
    color: #000000;
    border-radius: 12px;
}

.button-excluir:hover {
    background: #ff6868b8;
}